/* main.scss */
@import "./variables";
@import "./mixins";

html {
	font-size: 16px;
}

body {
	font-family: $fRegular;
	font-size: 1.5em;
}

section {
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fRegular;
	line-height: 100%;
}

button {
	@include button-custom(1);

	&.selected {
		filter: $pinkFilter;
		color: white;

		span {
			filter: invert(1);
		}

		&:hover {
			filter: $pinkFilter !important;
		}
	}
}

.pink_text {
	color: $pink-color;
}

.green_text {
	color: $primary-color;
}

.desktop {
	@media screen and (max-width: 992px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 992px) {
		display: inline-block;
	}
}

@import "./common/header.scss";
/* Each block’s SCSS */
@import "./sections/HeroSection.scss";
@import "./sections/WeddingDateAndTime.scss";
@import "./sections/Rsvp.scss";
@import "./sections/DressCodeBlock.scss";
@import "./sections/GiftBlock.scss";
@import "./sections/ChatBlock.scss";
@import "./sections/CoupleBlock.scss";
@import "./sections/InvitationFooter.scss";

@import "./Login.scss";
@import "./sections/Admin.scss";
