/* main.scss */
@import "./mixins";
@import "./variables";

body {
	font-family: $fRegular;
	font-size: 1em;
}
section {
	min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fRegular;
}

button {
	background-color: #f3ebe6;
	border: 1px solid $border-color;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 8px;
	transition: $mainTransition;

	&:hover {
		background-color: $secondary-color;
		color: $cWhite;
	}

	&.selected {
		background-color: $primary-color;
		color: $cWhite;
	}
}
@import "./common/header.scss";
/* Each block’s SCSS */
@import "./sections/HeroSection.scss";
@import "./sections/WeddingDateAndTime.scss";
@import "./sections/Rsvp.scss";
@import "./sections/DressCodeBlock.scss";
@import "./sections/GiftBlock.scss";
@import "./sections/ChatBlock.scss";
@import "./sections/CoupleBlock.scss";
@import "./sections/InvitationFooter.scss";

@import "./Login.scss";
@import "./sections/Admin.scss";
