.chat_block {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	overflow: clip;
	height: 800px;
	min-height: 90vh;
	@media screen and (max-width: 1200px) {
		min-height: 700px;
	}
	@media screen and (max-width: 768px) {
		min-height: 850px;
	}

	.chat_block_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 720px;
			transform-origin: center center;  
			z-index: 0;
	
		svg {
			width: auto;
			position: absolute;
			transform-origin: center center;  
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.chat_block_content {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 90px;
		@media screen and (max-width: 1200px) {
			padding-top: 120px;
		}
		@media screen and (max-width: 768px) {
			padding-top: 90px;
		}
		@media screen and (max-width: 400px) {
			padding-top: 80px;
		}

		h2 {
			@include headerWithRay($size: 80px, $offset: 30px);
			font-size: 4.5rem;
			color: white;

			@media screen and (max-width: 576px) {
				@include headerWithRay($size: 60px, $offset: 25px);
				font-size: 3.5rem !important;
			}
			@media screen and (max-width: 500px) {
				@include headerWithRay($size: 50px, $offset: 22px);
				font-size: 3.2rem !important;
			}
			@media screen and (max-width: 500px) {
				@include headerWithRay($size: 40px, $offset: 22px);
				font-size: 3rem !important;
			}
			@media screen and (max-width: 400px) {
				@include headerWithRay($size: 40px, $offset: 22px);
				font-size: 2.7rem !important;
			}
			&::before,
			&::after {
				filter: $pinkFilter;
			}
		}

		p {
			font-size: 2.5rem;
			max-width: 800px;
			color: white;
			margin-top: 50px;
			margin-bottom: 30px;
			text-align: center;
			@media screen and (max-width: 992px) {
				max-width: 96vw;
			}
			@media screen and (max-width: 768px) {
				font-size: 2.1rem;
				margin-bottom: 50px;
			}
			@media screen and (max-width: 576px) {
				font-size: 1.9rem;
				margin: 30px 0;
				max-width: 94vw;
			}
			@media screen and (max-width: 450px) {
				line-height: 115%;
				font-size: 1.7rem;
			}
			@media screen and (max-width: 400px) {
				margin-top: 20px;
			}
		}
		.chat_block_btn_wrapper {
			position: relative;
			a {
				@include button-custom(5);
				@include button-custom_pink;
				padding: 20px 40px;
			}

			.chat_block_arrow {
				position: absolute;
				top: -420%;
				left: 220%;
				width: auto;
				height: auto;
				z-index: 1;
				filter: invert(1);
				transform: rotate(127deg) scale(1.4);
				@media screen and (max-width: 1400px) {
					top: -400%;
					left: 170%;
					transform: rotate(127deg) scale(1.2);
				}
				@media screen and (max-width: 1200px) {
					transform: rotate(127deg) scale(1);
					left: 150%;
				}
				@media screen and (max-width: 768px) {
					left: 74%;
					transform: rotate(163deg) scale(1);
					top: 0%;
				}
			}
		}
	}
}
