.couple_block {
	// Make this section fill the viewport if desired
	min-height: 100vh;
	width: 100%;
	// Background image for the entire block
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	z-index: 11;
	/* WebKit-based browsers */
	-webkit-mask-image: url("../../img/couple_mask.svg");
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-size: cover;

	/* Other modern browsers */
	mask-image: url("../../img/couple_mask.svg");
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-size: 100% 100%;
	mask-mode: alpha;
	// transform: scale(1.14);
	// Media query for smaller screens
	@media (max-width: 768px) {
		min-height: auto;
		padding: 2rem 1rem;
		background-position: top;
	}

	.couple_images {
		// If you are not using the <Image> component, you can remove this entire .couple_images block
		margin-bottom: 2rem;
		position: absolute;
		top: -60%;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;

		@media (max-width: 768px) {
			margin-bottom: 1.5rem;
		}

		.couple_photo {
			filter: brightness(0.5);
			// Example styles if you keep the <Image> component
			width: 100%;
			margin: 0 auto;
			object-fit: cover;
			@media (max-width: 768px) {
				width: 200px;
			}
		}
	}

	.timer {
		z-index: 1;
		display: flex;
		gap: 2rem;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;

		.timer_item {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-weight: 300;
			color: white;

			@media (max-width: 768px) {
				font-size: 1.6rem;
			}

			span {
				&:first-child {
					font-weight: 700; // Days/Hours/Minutes/Seconds number
					font-size: 6rem;
				}
				&:last-child {
					font-size: 3rem;
				}
			}
		}
	}

	p {
		margin-top: 2rem;
		text-align: center;
		font-size: 4rem;
		z-index: 1;
		color: white;

		@media (max-width: 768px) {
			font-size: 1.2rem;
		}
	}
}
