/* File: styles/main.scss (or a separate HeroSection.module.scss) */

.hero_section {
	position: relative;
	width: 100%;
	background: url("/static/img/hero_bg.jpg") center center / cover no-repeat;
	overflow: hidden; /* Ensures falling hearts are clipped within hero section */
	color: $primary-color;
	z-index: 0;

	.hero_content {
		position: relative;
		z-index: 10; /* Content above falling hearts */
		max-width: 1400px;
		margin: 0 auto;
		padding: 4rem 1rem;
		padding-top: 7rem;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		column-gap: 4vw;
		height: 100vh;
		@media screen and (max-width: 1500px) {
			column-gap: 2vw;
		}
		@media screen and (max-width: 1300px) {
			padding-top: 5rem;
		}
		@media screen and (max-width: 1200px) {
		flex-direction: column;
		height: fit-content;
		}
		@media (max-width: 768px) {
			padding: 2rem 1rem;
		}
		.hero_content_text {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

	
		.hero_content_dear {
			font-size: 1.4em;
		}
		h1 {
			font-size: 3.5em;
			@media screen and (max-width: 1500px) {
				font-size: 3.3em;
			}
			@media screen and (max-width: 1300px) {
			font-size: 2.9em;
			}
			@media screen and (max-width: 768px) {
				font-size: 2em;
			}
			span {
				color: $button-bg-color; /* Example color for date */
			}
		}
		h2 {
			font-weight: normal;
			font-size: 1.6em;
			line-height: 120%;
			@media screen and (max-width: 1500px) {
				font-size: 1.5em;
			}
			@media screen and (max-width: 1300px) {
			font-size: 1.3em;
			}
		}

		.images_wrapper {
			display: inline-flex;
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			.child_photo {
				position: relative;
				height: 700px;
				width: auto;
				z-index: 1;
				
				@media screen and (max-height: 800px) {
					height: 80vh;
				}
			}
		}
		.city {
			font-size: 2em;
			@media screen and (max-width: 1300px) {
				font-size: 1.5em;
			
			}

		}

		.city,
		h1 {
			color: $pink-color;
		}
	}

	/*************
    * FALLING HEARTS
     *************/
	.falling_hearts {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh; /* or another fixed height */
		overflow: hidden;
		pointer-events: none;
		z-index: 10;
	}
}
