.invitation_footer {
	position: relative;
	width: 100%;
	text-align: center;
	background-color: white;
	padding: 200px 2rem;
	padding-top: 0;
	@media screen and (max-width: 1200px) {
		padding-top: 250px;
		font-size: 0.85em;
	}
	p {
		font-size: 2em;
		margin-bottom: 16px;
		color: #2c3e50;
		line-height: 1.4;
		@media screen and (max-width: 992px) {
			padding: 0 4vw;
		}
	}

	strong {
		@include headerWithRay($size: 80px, $offset: 30px);
		color: $primary-color;

		&::before,
		&::after {
			filter: $pinkFilter;
		}
	}

	.creator {
		font-size: 1.1em;
		color: $primary-color;
		position: absolute;
		left: 0;
		bottom: 10px;
		right: 0;
	}
}
