.invitation_footer {
	position: relative;
	width: 100%;
	padding: 3rem 2rem;
	text-align: center;

	p {
		font-size: 3rem;
		line-height: 1.4;
		margin-bottom: 1rem;
		color: #2c3e50;

		strong {
			@include headerWithRay($size: 80px, $offset: 30px);
			color: $primary-color;

			&::before,
			&::after {
				filter: $pinkFilter;
			}
		}
	}

	.creator {
		margin-top: 80px;
		font-size: 1.7rem;
		color: $primary-color;
	}
}
