.date_time_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 1;
	padding: 80px 20px;
	padding-top: 30px;
	overflow-x: clip;
	@media screen and (max-width: 1200px) {
		font-size: 0.9em;
		padding-top: 50px;
	}
	@media screen and (max-width: 1100px) {
		padding-top: 30px;
	
	}
	.date_time_section_bg {
		position: absolute;
		top: -90px;
		left: 0;
		width: 100vw;
		height: 100%;
		max-height: 950px;
		@media screen and (max-width: 1200px) {
			top: -9%;
			max-height: 850px;
		}
		img {
			transform: scale(1.1) scaleX(1.7) scaleY(0.9) rotate(6deg);
			user-select: none;
			
			@media screen and (max-width: 1400px) {
				width: auto !important;
			}
		}
	}

	.date_time_section_content {
		z-index: 1;

		h1 {
			@include headerWithRay($size: 110px, $offset: 12px);
			color: $primary-color;

			&::before,
			&::after {
				filter: invert(1) brightness(10);
			}
		}

		.schedule_container {
			/* Gives a background to the entire schedule section, if desired */
			padding: 3rem 2rem;
			color: #fff; /* Ensure text contrasts with orange background */
			@media screen and (max-width: 992px) {
				padding: 2rem 2rem;
			
			}
			.date_time_item {
				display: flex; /* Time on the left, details on the right */
				align-items: center; /* Align the top edges */
				margin-bottom: 3rem; /* Spacing between each item */
				border-radius: 8px;
				.time_block {
					font-size: 3em;
					font-weight: bold;
				}
				.line {
					width: 30px;
					height: 7px;
					background-color: $primary-color; // You can change this to your desired color
					margin: 0 2vw;
					content: "";
					border-radius: 3.5px;
				}

				.event_details {
					text-align: left;
					h2 {
						font-size: 2.2em;
						text-transform: uppercase; /* If you want the event name in all caps */
					}

					p {
						padding-top: 6px;
						padding-bottom: 16px;
						font-size: 1.7em;
					}

					.map_link {
						@include button-custom(1);

						text-decoration: none;
						font-size: 1em;
					}
				}
				&:last-of-type {
					.event_details {
						.map_link {
							@include button-custom(3);
						}
					}
				}
			}
		}
	}
}
