.gift_block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	padding: 0 2rem;
	padding-bottom: 60px;
	min-height: fit-content;
	height: 80vh;
	max-height: 800px;
	overflow-x: clip;
	@media screen and (max-width: 992px) {
		padding-top: 40px;
	}
	@media screen and (max-width: 600px) {
		padding-top: 0;
	}
	@media screen and (max-width: 576px) {
		height: 600px;
		padding: 0 2vw;
		padding-bottom: 60px;
	}
	@media screen and (max-width: 450px) {
		height: 500px;
		padding: 0 4vw;
		padding-bottom: 0px;
	}

	h2 {
		@include headerWithRay($size: 90px, $offset: 20px);
		font-size: 5rem;
		color: $header-text-color; /* accent color */
		margin-bottom: 60px;
		@media screen and (max-width: 1500px) {
			margin-bottom: 40px;
		}
		@media screen and (max-width: 992px) {
			@include headerWithRay($size: 70px, $offset: 15px);
			margin-bottom: 40px;
		}
		@media screen and (max-width: 450px) {
			@include headerWithRay($size: 45px, $offset: 16px);
			margin-bottom: 40px;
			font-size: 3.2rem !important;
		}
	}

	.gift_container {
		display: grid;
		justify-content: space-around;
		align-items: center;
		column-gap: 4vw;
		grid-template-columns: 1fr 1fr;

		@media screen and (max-width: 1200px) {
			grid-template-columns: 1fr;
			column-gap: 2vw;
		}
		.gift_container_item {
			p {
				font-size: 3rem;
				text-align: center;
				color: $primary-color;

				@media screen and (max-width: 1400px) {
					font-size: 2.6rem;
				}

				@media screen and (max-width: 1200px) {
					font-size: 2.4rem;
				}
				@media screen and (max-width: 576px) {
					font-size: 2.1rem;
				}
				@media screen and (max-width: 500px) {
					font-size: 2rem;
				}
				@media screen and (max-width: 450px) {
					font-size: 1.8rem;
				}
				@media screen and (max-width: 400px) {
					font-size: 1.7rem;
				}
			}
		}
		.gift_images_wrapper {
			display: flex;
			justify-content: center;
			@media screen and (max-width: 1200px) {
				margin: 24px 0;
			}

			.gift_img {
				position: relative;
				width: auto;
				z-index: 1;

				@media screen and (max-width: 1500px) {
					height: 100%;
				}
				@media screen and (max-width: 1200px) {
					height: 350px;
				}

				@media screen and (max-width: 768px) {
					height: auto;
					width: 85vw;
				}
				@media screen and (max-width: 450px) {
					width: 90vw;
				}
			}
		}
		.mobile {
			display: none;

			@media screen and (max-width: 1200px) {
				display: flex;
			}
		}

		.desktop {
			display: inline-flex;

			@media screen and (max-width: 1200px) {
				display: none;
			}
		}
	}
}
