// — define a placeholder for reuse elsewhere

.header {
	padding: 0px 2.8vw;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100vw;
	transition: all 0.8s ease;
	font-size: 0.7em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	background-color: $bg-color-pink;

	@media screen and (max-width: 768px) {
		background-color: transparent;
		box-shadow: none;
	}

	@media (max-width: 500px) {
		width: fit-content;
		padding: 0px 4vw;
		left: auto;
		right: 0;
	}
	div {
		height: inherit;
	}
	.header_block {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		height: 100%;
		position: relative;
		@media screen and (max-width: 768px) {
			justify-content: flex-end;
		}

		.logoButton {
			transition: all 0.5s ease-in-out;
			&:hover {
				opacity: 0.5;
				transform: scale(0.94);
			}
		}

		.nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			column-gap: 4vw;
			@media (max-width: 992px) {
				column-gap: 2vw;
			}
			@media screen and (max-width: 768px) {
				display: none;
			}
			a {
				line-height: 100%;
				padding: 16px 10px;
				transition: all 0.3s ease-in-out;
				color: $primary-color;
				opacity: 0.8;
				user-select: none;
				border-bottom: 3px solid transparent;
				@media screen and (max-width: 992px) {
					font-size: 18px;
				}
				&:hover {
					opacity: 1;
					color: $primary-color-hover;
					border-bottom: 3px solid $primary-color-hover;
				}
				&:focus-visible {
					outline: none;
					transform: scale(1.1);
					opacity: 1;
					color: $primary-color-hover;
				}
				&:active {
					transition: all 0.1s ease-in-out;
					color: $plain-text-color;
				}
			}
			.navlink_active {
				border-bottom: 3px solid $primary-color;
				-webkit-text-stroke: 1px $primary-color;
				transition: all 0.3s ease-in-out;
				opacity: 1;
			}
		}

		.header_button {
			@include buttonRounded;
			color: black;
			background-color: $cWhite;
			width: 145px;
			opacity: 0;
			transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
				background-color 0.1s ease-in-out;
			@media screen and (max-width: 768px) {
				display: none;
			}
			&:hover {
				box-shadow: 0 2px 25px #f2736c70;
			}

			&:active {
				background-color: #f2736c70;
				color: white;
				box-shadow: 0 2px 25px #f2736c70;
			}
			&:focus-visible {
				outline: none;
				border: 2px solid $border-color;
				box-shadow: 0 2px 25px #f2736c70;
			}
		}
		.header_burger_btn {
			display: none;
			@media screen and (max-width: 768px) {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: space-between;
				width: 27px;
				height: 27px;
				padding: 5px 5px;
				padding-right: 0px;
			}
			span {
				width: 17px;
				height: 3px;
				border-radius: 1.5px;
				background-color: black;
				transition: all 0.3s ease-in-out;
				&:first-of-type {
					width: 100%;
				}
				&:last-of-type {
					width: 100%;
				}
			}
			.burger_btn_open {
				transform: scaleX(0);
				&:first-of-type {
					transform: scaleX(1) rotate(-45deg) translate(-5px, 5px);
					width: 100%;
				}
				&:last-of-type {
					transform: scaleX(1) rotate(45deg) translate(-5px, -5px);
					width: 100%;
				}
			}
		}

		// Burger.scss

		$color: $primary-color; // dark color for the bars
		$active: $pink-color; // color when open

		.burgerWrapper {
			/* e.g. align it */

			display: none;

			@media screen and (max-width: 768px) {
				display: flex;
				align-items: center;
				padding: 15px;
				background-color: rgba(255, 255, 255, 0.528);
				border-radius: 50%;
				margin-top: 16px;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
					rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
			}
		}

		.toggle {
			display: block;
			cursor: pointer;

			input {
				display: none;

				& + div {
					width: 27px;
					height: 27px;
					position: relative;

					div {
						position: absolute;
						inset: 0;
						transition: transform 0.5s ease;

						span {
							display: block;
							position: absolute;
							left: -2px;
							right: -3px;

							&:first-child {
								top: 1px;

								&:before,
								&:after {
									top: 0;
								}
							}

							&:last-child {
								bottom: 1px;

								&:before,
								&:after {
									bottom: 0;
								}
							}

							&:before,
							&:after {
								content: "";
								display: block;
								width: 49%;
								height: 3px;
								border-radius: 1.5px;
								background: $color;
								position: absolute;
								transition: transform 0.5s ease, background 0.4s ease;
							}

							&:before {
								left: 0;
								transform-origin: 0 50%;
								transform: translate(1px, 0) scaleX(1.1);
							}

							&:after {
								right: 0;
								transform-origin: 100% 50%;
								transform: translate(-1px, 0) scaleX(1.1);
							}
						}
					}

					svg {
						display: block;
						fill: none;
						stroke: $color;
						stroke-width: 2px;
						width: 44px;
						height: 44px;
						stroke-linecap: round;
						position: absolute;
						left: 50%;
						top: 50%;
						margin: -22px 0 0 -22px;
						stroke-dasharray: 0 82.801 8 82.801;
						stroke-dashoffset: 82.801;
						transform-origin: 50% 50%;
						transition: stroke-dashoffset 0.5s ease,
							stroke-dasharray 0.6s ease, transform 0.5s ease,
							stroke 0.4s ease;

						&:nth-child(3) {
							transform: rotate(180deg);
						}
					}
				}

				&:checked + div {
					div {
						transform: rotate(90deg);

						span {
							&:before,
							&:after {
								background: $active;
							}

							&:first-child {
								&:before {
									transform: rotate(45deg) translate(2.2px, -3px)
										scaleX(1.05);
								}

								&:after {
									transform: rotate(-45deg) translate(-2.2px, -3px)
										scaleX(1.05);
								}
							}

							&:last-child {
								&:before {
									transform: rotate(-45deg) translate(2.2px, 3px)
										scaleX(1.05);
								}

								&:after {
									transform: rotate(45deg) translate(-2.2px, 3px)
										scaleX(1.05);
								}
							}
						}
					}

					svg {
						stroke-dashoffset: 62;
						stroke-dasharray: 0 82.801 62 82.801;
						transform: rotate(90deg);
						stroke: $active;

						&:nth-child(3) {
							transform: rotate(270deg);
						}
					}
				}
			}
		}
	}
}

.sideMenu {
	display: none;
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		height: 100vh;
		z-index: 999;
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		transform: translateX(100vw);
		width: 100vw;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		row-gap: 65px;
		transition: all 0.8s ease;
		background-color: #f7f3f4;
		transform: translateX(375px);
		width: 375px;
		padding: 100px 20px;

		@media screen and (max-width: 450px) {
			transform: translateX(100vw);
			max-width: 100vw;
			width: 100vw;
			padding-bottom: 100px;
		}

		.sideMenu_nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
			height: 100%;
			a {
				font-family: $fRegular;
				font-size: 28px;
				line-height: 28px;
				transition: all 0.3s ease-in-out;
				opacity: 0.8;
				color: $primary-color;
				&:hover {
					opacity: 1;
					color: $cOrange;
				}
				&:focus-visible {
					outline: none;
					transform: scale(1.1);
					border-bottom: 1px solid $cOrange;
					opacity: 1;
					color: $cOrange;
				}
				&:active {
					transition: all 0.1s ease-in-out;
					color: $plain-text-color;
				}
			}
			.sideMenu_navlink_active {
				color:$pink-color;
				-webkit-text-stroke: 1px $pink-color;
				transition: all 0.3s ease-in-out;
				opacity: 1;
			}
		}
		.sideMenu_header_button {
			@include buttonRounded;
			color: black;
			background-color: $cWhite;
			width: 100%;
			min-height: 48px;
			transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out,
				background-color 0.1s ease-in-out;

			&:hover {
				box-shadow: 0 2px 25px #f2736c70;
			}

			&:active {
				background-color: #f2736c70;
				color: white;
				box-shadow: 0 2px 25px #f2736c70;
			}
			&:focus-visible {
				outline: none;
				border: 2px solid $border-color;
				box-shadow: 0 2px 25px #f2736c70;
			}
		}
	}
}

.sideMenuOpen {
	transform: translateX(0px);
}
.sideMenuExpand {
	@media screen and (max-width: 768px) {
		padding-top: 65px;
	}
}
.sideMenu_bg {
	display: none;
	visibility: hidden;

	@media screen and (max-width: 768px) {
		display: block;

		width: 100vw;
		height: 100vh;
		opacity: 0;
		transition: all 0.8s ease;
		background-color: #0000003e;
		z-index: 998;
		position: fixed;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		visibility: hidden;
	}
}
.sideMenu_Bg_Open {
	visibility: visible;
	opacity: 1;
}
