// Fonts
$fRegular: CarloMelowSans, sans-serif;
$fBold: CarloMelowSans, sans-serif;

// Colors
$primary-color: #3a865b;
$primary-color-hover: #276542;
$pink-color: #ff9aff;
$pink-color-hover: #ff70ff;
$cOrange: #e74c3c;
$cWhite: white;

// Header colors
$header-bg-color: #ffffff;
$bg-color-pink: #ff9aff;
$header-text-color: #ff9aff;

// Plain text colors
$plain-text-color: #444444;
$plain-text-secondary-color: #7f8c8d;

// Button colors
$button-bg-color: #3a865b;
$button-text-color: #ffffff;

// Additional colors (if needed)
$link-color: #2980b9;
$border-color: #dddddd;

// Other
$mainTransition: all 0.3s ease-in-out;

$pinkFilter: invert(1) saturate(2) brightness(1.4);
