/* Основной стиль для контейнера */
.login-container {
  width: 100%;
  max-width: 400px; /* Уменьшен максимальный размер для более компактного оформления */
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* Белый фон */
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

/* Заголовок формы */
.login-container h1 {
  font-size: 1.8rem;
  font-weight: 600; /* Уменьшен вес шрифта для более легкого вида */
  margin-bottom: 20px;
  text-align: center;
  color: #333333; /* Темный цвет текста */
}

/* Стили для полей ввода */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 15px; /* Увеличены отступы */
  margin-bottom: 15px;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 8px; /* Увеличены радиусы */
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s; /* Добавлен эффект тени */
}

/* Стили для полей ввода при фокусе */
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Эффект тени */
  outline: none;
}

/* Стиль для кнопки */
.login-container button {
  width: 100%;
  padding: 12px 15px; /* Увеличены отступы для кнопки */
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 8px; /* Увеличены радиусы */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Эффект преобразования */
}

/* Анимация кнопки при наведении */
.login-container button:hover {
  background-color: #0056b3;
  transform: translateY(-1px); /* Эффект при наведении */
}

/* Стили для селектора языков */
.language-selector {
  display: flex; /* Используем flexbox для вертикального расположения */
  flex-direction: column; /* Вертикальное расположение кнопок */
  align-items: center; /* Центрирование по горизонтали */
  margin-top: 15px; /* Отступ сверху */
}

.language-button {
  background-color: #e9ecef;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 8px; /* Увеличены радиусы */
  padding: 10px 15px;
  margin: 5px 0; /* Отступы между кнопками */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  font-size: 0.9rem; /* Уменьшен размер шрифта для кнопок */
}

/* Флаг */
.flag {
  width: 20px; /* Ширина флага */
  height: 20px; /* Высота флага */
  margin-right: 5px; /* Отступ между флагом и текстом */
}

/* Активная кнопка */
.language-button.active {
  background-color: #007bff;
  color: white;
}

/* Стили для мелких экранов */
@media (max-width: 576px) {
  .login-container {
    padding: 15px; /* Уменьшены отступы на мобильных устройствах */
  }
  .login-container h1 {
    font-size: 1.5rem;
  }
}
