/* main.scss */
@import "./variables";
@import "./mixins";
* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scrollbar-width: 16px;                      /* Firefox */
	scrollbar-color: $pink-color $primary-color;     
}
body {
	background-color: white;
	font-size: 1.5em;
	font-family: $fRegular;
	overflow-x: hidden;
	overflow-y: auto; 
}
html,
body {
	margin: 0;
	padding: 0;
}

p,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fRegular;
	line-height: 100%;
	margin: 0;
	padding: 0;
}

section {
	min-height: 100vh;

	@media screen and (max-width: 1200px) {
		min-height: fit-content;
	}
}
main {
	position: relative;

	button {
		@include button-custom(1);

		&.selected {
			color: white;
			user-select: none;
			background-color: $pink-color !important;
		}
	}
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

input {
	&:focus-visible {
		outline: 1px solid transparent;
	}
	&:hover {
		outline: 1px solid transparent;
		border: 1px solid transparent;
		border-color: transparent;
	}
}

.pink_text {
	color: $pink-color;
}

.green_text {
	color: $primary-color;
}

.desktop {
	@media screen and (max-width: 1200px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 1200px) {
		display: inline-block;
	}
}
#lenis-wrapper{
	overflow: hidden;
}

@import "./common/loader.scss";
@import "./common/header.scss";
@import "./common/scroll.scss";
/* Each block’s SCSS */
@import "./sections/HeroSection.scss";
@import "./sections/WeddingDateAndTime.scss";
@import "./sections/Rsvp.scss";
@import "./sections/DressCodeBlock.scss";
@import "./sections/GiftBlock.scss";
@import "./sections/ChatBlock.scss";
@import "./sections/CoupleBlock.scss";
@import "./sections/InvitationFooter.scss";

@import "./Login.scss";
@import "./sections/Admin.scss";
